@using QLThuVien.Models;
@{
    ViewBag.Title = "Home Page";
    List<Sach> banner = ViewBag.banner;
    List<Sach> newProduct = ViewBag.newProduct;
}

<!-- Banner Section Begin -->
<section class="banner set-bg" style="background-image: url(@Url.Content("~/Images/banner.png"))">
   
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">

                    @* lay 3 san pham moi nhat*@

                    @foreach (Sach item in banner)
                    {
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>Mỗi cuốn sách là một nguồn tri thức</span>
                                <h1>@item.TenSach</h1>
                                <a href="~/ChiTietCuonSach/Index/@item.IDSach">Đọc ngay</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title" style="width:500px">
                    <h4 style="color:red">Những cuốn sách mới nhất</h4>
                </div>
            </div>
        </div>



        <div class="row property__gallery">
            @foreach (Sach item in newProduct)
            {
                <a href="~/ChiTietCuonSach/Index/@item.IDSach">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div>
                                <img src="@Url.Content(item.HinhAnh)" width="262px" height="360px" alt="Alternate Text" />
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">@item.TacGia</a></h6>
                                <div class="product__price">@item.TenSach</div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg" style="background-color: #f4e4d9">
                    <div class="categories__text">
                        <h1>Self help</h1>
                        <p>Hãy để những cuốn sách giúp bạn tiết bộ hơn</p>
                        <a href="~/Sach/Index?theloai=Self help">Đọc ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" style="background-color:  #c9e1d8">
                            <div class="categories__text">
                                <h4>Kinh tế</h4>
                                <p>Bạn đang cần cách để kiếm thật nhiều tiền</p>
                                <a href="~/Sach/Index?theloai=Kinh tế">Đọc ngay</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" style="background-color: #d5d4ec">
                            <div class="categories__text">
                                <h4>Khoa Học</h4>
                                <p>
                                    Bạn có muốn hiểu về thế giới này không???
                                </p>
                                
                                <a href="~/Sach/Index?theloai=Khoa học">Đọc ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" style="background-color: #f3dde1 ">
                            <div class="categories__text">
                                <h4>Lịch sử</h4>
                                <p>Lịch sử là một phần không thể thiếu trong mỗi con người</p>
                                <a href="~/Sach/Index?theloai=Lịch sử">Đọc ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" style="background-color: #d4e2f3 ">

                            <div class="categories__text">
                                <h4>Tiểu thuyết</h4>
                                <p>Hãy cùng giải trí nào</p>
                                <a href="~/Sach/Index?theloai=Tiểu thuyết">Đọc ngay</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Bestseller product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title" style="width:900px">
                    <h4 style="color:red"> Những cuốn sách được mượn nhiều nhất</h4>
                </div>
            </div>
        </div>



        <div class="row property__gallery">
            @foreach (Sach item in ViewBag.sachMuonNhieuNhat)
            {
                <a href="~/ChiTietCuonSach/Index/@item.IDSach">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div>
                                <img src="@Url.Content(item.HinhAnh)" width="262px" height="360px" alt="Alternate Text" />
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">@item.TacGia</a></h6>
                                <div class="product__price">@item.TenSach</div>
                            </div>
                        </div>
                    </div>
                </a>
            }


        </div>
    </div>
</section>
<!-- Bestseller product Section End -->