@model QLThuVien.Models.PhieuMuon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Chỉnh sửa thông tin phiếu mượn </h2>

            <form class="forms-sample">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDPM)

                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">ID độc giả</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.IDDG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IDDG, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên độc giả</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.TenDG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày mượn</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.NgayMuon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayMuon, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày trả</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.NgayTra, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày trả thực tế</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.NgayTraThucTe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayTraThucTe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tiền phạt</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.TienPhat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TienPhat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ghi chú</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Trạng thái</label>
                    <div class="col-sm-9">

                        @Html.DropDownList("trangthai", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <button style="width:100px; type="submit" value="Save" class="btn btn-primary mr-2">Save</button>

                <a href="~/Admin/AdminPhieuMuons/Index">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
                </a>
            </form>
    </div>
    </div>
</div>
}

