@model QLThuVien.Models.DangNhap
@{
    ViewBag.Title = "IndexAdmin";
}

<!DOCTYPE html>
<html>
<head>
    <title>IndexAdmin</title>    
</head>
<body>
    <div id="form-login">
        @using (Html.BeginForm("LoginAdmin", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <Table>
                    <tr class="title-form">
                        <th colspan="2">LoginAdmin</th>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.UserName)</td>
                        <td>@Html.TextBoxFor(model => model.UserName, new { style = "field-validation-error" })</td>
                        <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Password)</td>
                        <td>@Html.PasswordFor(model => model.Password)</td>
                        <td>@Html.ValidationMessageFor(model => model.Password)</td>                        
                    </tr>
                    <tr>
                        @if (ViewBag.ErrorInfo != null)
                        {
                            <td>@ViewBag.ErrorInfo</td>
                        }
                    </tr>
                    <tr>

                        <th colspan="2">
                            <input type="submit" class="btn" value="Login" />
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <p style="text-align:left;float:left"><a href="@Url.Action("Register","Login")">Register</a></p>
                            <p style="text-align:right"><a href="@Url.Action("Index","Login")">Back</a></p>
                        </th>
                    </tr>
                </Table>
            </div>
        }
    </div>
</body>
</html>


