@model QLThuVien.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa cuốn sách này không</h3>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Chi tiết của cuốn sách</h4>

            <form class="forms-sample">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên sách</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.TenSach)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Mô tả </label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.MoTa)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tác giả</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.TacGia)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày xuất bản</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.NgayXuatBan)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Số lượng</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.SoLuong)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Hình ảnh</label>
                    <div class="col-sm-9">
                        <img src="@Url.Content(Model.HinhAnh)" style="width: 100px; height: 150px; border-radius:0%" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Thể loại</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.TheLoai1.NameCate)
                    </div>
                </div>

                <a href="~/Admin/AdminSaches/Edit/@Model.IDSach">
                    
                </a>

            </form>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">        
                    <button style="width:180px; type="submit" value="Delete"class="btn btn-primary mr-2">Delete</button>
                </div>
            }
            <a href="~/Admin/AdminSaches/Index">
                <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
            </a>
        </div>
    </div>
</div>